body{
    background-image: url(../images/pexels-pixabay-326311.jpg) ; 
    background-size: contain;
    font-family: 'Special Elite', cursive;
    background-attachment: fixed;
 }
*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

#gamer{
    display: inline;

}
.container{
    width: 80vw;
    height: 90vh;
    min-height:600px;
    margin: 10vh auto;
    background-color: rgb(232, 255, 127,0.40);
    display: flex;
    align-items: center;
    padding: 50px 50px;
    justify-content: center;

}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(163, 17, 230);
    transform: translateY(-0.1rem);
    transition: 150ms;
}
.choice-container{
    margin-top: 12px;
    display: flex;
    margin-bottom: 0.2rem;
    width:60%;
    font-size: 1.4rem;
    border: 0.2rem solid blueviolet;
    background-color: white;
}

.choice-prefix{
    padding:1.5rem 2.5rem;
    background-color: rgb(0, 217, 255);
    color: rgb(153, 16, 16);
}
.choice-prefix:hover{
    background:linear-gradient(to right, rgb(245, 60, 4) ,rgb(255, 153, 0));
}

.choice-text{
    padding:1.5rem;
    width:100%;  
}
/* .choice-text:hover{
    background:linear-gradient(to right, rgb(173, 245, 4) ,yellow);
    transition-duration: 200ms;
} */
#question{
    max-width: 100%;
}

.correct{
    background:linear-gradient(to right, rgb(173, 245, 4) ,yellow);
}

.incorrect{
    background:linear-gradient(to right, rgb(247, 4, 4) ,rgb(255, 94, 0));
}

#hud{
    width:72vw;
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}
.hud-main-text{
    text-align: center;
}
