body{
    background-image: url(../images/pexels-pixabay-326311.jpg);
    background-attachment: fixed;
    background-size: contain;
    color: white;
 }
 .card{
     background-image: url(../images/pexels-pixabay-326311.jpg);
     background-attachment: fixed;
    background-size: contain;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 3rem;
   padding:3rem;
 }
 img{
     width: 5rem;
     display: block;
     margin-left: auto;
     margin-right: auto;
 
 }

 